body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6f6af7;
  color: white;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  
}
#DAPPR {
  font-size: 40px;
}
#select1{
  background-color: #6f6af7;
  color: white;
  border-color: #6f6af7;
}
.navbar-info {
  font-size: 25px;
}
.input {
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;
  padding: 1px;
}

/* first-section */
#textarea1 {
  background-color: #e5d8ff;
}
.first-section {
  display: flex;
  margin: 30px 40px;
}
.second{
  margin: 25px 10px;
}

/* total-content */

.total-content{
border: 5px solid black;
margin: 20px;
margin-top: 100px;
}

/* card-section  */
.card-section {
  display: flex;
  justify-content: space-between;
}
.cards {
  border: 2px solid white;
  border-radius: 4px;
  width: 120px;
  height: 60px;
  margin: 15px;
  padding: 16px;
}
#card4 {
  background-color: black;
  color: white;
}
#card3 {
  background-color: #d288ff;
  color: white;
}
#card2 {
  background-color: #734cf2;
  color: white;
}
#card1 {
  background-color: #929dff;
  color: white;
}

/* final-selection  */

.final {
  border: 2px solid black;
  border-radius: 6px;
  width: 900px;
  height: 400px;
  margin: 30px  40px;
  background-color: #483eff;

}
.left {
  border: 2px solid white;
  border-radius: 6px;
  width: 220px;
  height: 60px;
  margin: 10px;
 
}
#your-info {
  background-color: #bce0f6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

  
}
#bookmarks{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 32px;
}
#settings{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 32px;
}
.final-right{
  border: 2px solid black;
  border-radius: 6px;
  width: 610px;
    height: 360px;
  margin: 15px;
  background-color: white;
}
.final{
  display: flex;
}
.details{
  margin: 30px;
  padding: 5px;
}
.Heading-details{
  margin: 15px;
}
.final-left{
margin: 20px 10px;
}
